<html>
<head>
	<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Character encoding scheme -->
		<meta charset="UTF-8"> 
	</head>
	<body bgcolor="color: rgb(250, 6, 50">
		<div class="container">
		<center>
			<h1 style="color: rgb(250, 8, 60)"> <b>Secure file transfer using Diffie-Hellman protocol</b> </h1><br>
			<h2 style="font-family:cursive;color:black">ENCRYPTO </h2><br><br>
			<form action = "/download_data" method = "POST" enctype = "multipart/form-data">
				<input type = "file" name = "file" required/>
				<br><br><input type = "Submit"/>
			</form>
			<p style="font-size: 20px">Security on cloud has been a hot topic. Even the tech giants like google and amazon spend hefty capital to strengthen their security. We, here have implemented a secure text transfer using diffie-hellman key exchange algorithm.
			</p>
			<br><h3><b>A Project by:</b></h3><br>
			<h4><i><b>Kumari Supriya<br>B.Tech (CSE)<br>170101233</b></i></h4>
			<br>
			<h4><i><b>Payal Verma<br>B.Tech (CSE)<br>170101155</b></i></h4>
			<br>
			<h4><i><b>Deepika Bansal<br>B.Tech (CSE)<br>170101079</b></i></h4>
		</center>
	</div>
	</body>
</html>